.App {
  text-align: center;
  background-color: #1b1c22;
  /* Set the background color for the entire app */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  /* Add padding for spacing around the content */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* Center the content block */
  background-color: #1b1c22;
}

.App-header {
  width: 100%;
  /* Ensure header takes full width of its container */
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #d9dadb;
}

.heading {
  color: "#1b1c22";
  font-size: calc(10px + 2vmin);
  text-align: left;
  color: '#d9dadb'
}

.subtitle {
  font-size: 16px;
  color: #d9dadb;
  text-align: center;
}

ul {
  padding: 0px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0px auto;
  height: 40px;

  border-bottom: 2px solid #191919;
  background-color: var(#1b1c22);
}

.link-button {
  display: flexbox;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 4px;
  text-decoration: none;
  border: none;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 0px auto;
  padding: 0px 0px;
  gap: 80px;
  font-family: Neue Montreal;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.table {
  width: 960px;
  border-radius: 24px;
  border-color: #191919;
  border-width: 4px;
}