.App {
  text-align: left;
}

.App-header {
  background-color: #ffffff;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 16px;

}

.heading {
  color: "#191919";
  font-size: calc(10px + 2vmin);
  text-align: left;
  color: '#222222'
}

.subtitle {
  font-size: 16px;
  color: #191919;
}

ul {
  padding: 0px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0px auto;
  height: 40px;

  border-bottom: 2px solid #191919;
  background-color: var(--background-color);
}

.link-button {
  display: flexbox;
  flex-direction: column;
  align-items: center;

  color: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  border: none;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 0px auto;
  padding: 0px 0px;
  gap: 80px;
  font-family: Neue Montreal;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}