.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
  align-items: center;
  margin: 8px;
  background-color: #25262c;
  font-size: 20px;
  border: #25262c solid;
}

.header-item,
.row-item {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9dadb;
}

.benefiting-players {
  background-color: #25262c;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 108px;
  margin-right: 108px;
  border-radius: 12px;
}

.benefiting-player-row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.benefiting-player-item {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9dadb
}

.row-item img {
  max-height: 40px;
  max-width: 50px;
  align-self: center;
}

.status {

  color: red;
}