.player-bubble {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  align-items: center;
}

.injury-date{
  font-size: 12px;
}

.injured-button {
  width: 300px;

  border-radius: 12px;
  background-color: #5C5470;
  color: #FAF0E6;
  
  padding: 16px;
  cursor: pointer;
  
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
}

.popup {
  background-color: #5C5470;

  width: 128px;
  margin: 16px;
  border-radius: 5px;
  padding: 10px;

  justify-content: center;

  text-align: center;
  font-size: 16px;
}

.subtitle{
  font-size: 16px;
}